@model ATS.Data.Model.Agent

@{
    ViewBag.Title = "Assign Staff";
}
<div class="row">
    <h2>Assign Staffs under @Html.DisplayFor(model => model.PersonName)</h2>
</div>
<div class="row">
    <div class="span3">
        <h4>Assigned Staffs</h4>
        <div class="editor-field"> 
            @Html.ListBox("AssignedStaffs", ViewBag.AssignedStaffs as MultiSelectList, 
                   new { @class = "chzn-select", data_placeholder = "Choose  Staff...",style="min-height:300px;" }) 
        </div>
    </div>
    <div class="span3" style="vertical-align:middle;text-align:center;">
        <br /><br /><br /><br /><br /><br />
        <p>
        <button class="btn btn-primary" style="width:150px;"> << Add </button><br /><br />
        <button class="btn btn-primary" style="width:150px;"> << Add All </button><br /><br />
        <button class="btn btn-primary" style="width:150px;"> Remove >> </button><br /><br />
        <button class="btn btn-primary" style="width:150px;"> Remove All >> </button><br /><br />
         </p>
    </div>
    <div class="span3">
        <h4>Available Staffs</h4>
        <div class="editor-field"> 
            @Html.ListBox("AvailableStaffs", ViewBag.AvailableStaffs as MultiSelectList, 
                   new { @class = "chzn-select", data_placeholder = "Choose  Staff..." ,style="min-height:300px;"}) 
        </div>
    </div>
    
</div>
<div class="row">
    <p><button class="btn btn-primary">Save</button></p>
</div>