@{
    ViewBag.Title = "Success SetupCompary";
}

<div class="alert alert-success">
    <h3>Company has setup successfully!</h3>
</div>
@Html.ActionLink("Home", "Index", "Home",null,new { @class = "btn btn-success" })
